*.gz
# ignore duplicate image files except public resources
images/
!/resources/*

# Temporary ignore project
Guideline/
Code/
ComputerRepair/
GraduateEntranceExam/
Hardware/
Software/
UndergraduateLearning/
